@page
@model InfoPartiiSchi.Pages.Statiuni.DetailsModel
@inject CommonLocalizationService localizer
@{
    ViewData["Title"] = localizer.Get("Details");
}

<h1>@localizer.Get("Details")</h1>

<div>
    <h4>@localizer.Get("Ski resort")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @localizer.Get("Name")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Statiune.Nume)
        </dd>
        <dt class="col-sm-2">
            @localizer.Get("County")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Statiune.Judet)
        </dd>
    </dl>
</div>
<div>
    @if (this.User.IsInRole("Admin"))
    {
    <a asp-page="./Edit" asp-route-id="@Model.Statiune.ID">@localizer.Get("Edit")</a>
    }|
<a asp-page="./Index">@localizer.Get("Back to List")</a>
</div>
