@page
@model InfoPartiiSchi.Pages.Statiuni.EditModel
@inject CommonLocalizationService localizer
@{
    ViewData["Title"] = localizer.Get("Edit");
}

<h1>@localizer.Get("Edit")</h1>

<h4>@localizer.Get("Ski resort")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger">@localizer.Get("Name")</div>
            <input type="hidden" asp-for="Statiune.ID" />
            <div class="form-group">
                <label asp-for="Statiune.Nume" class="control-label"></label>
                <input asp-for="Statiune.Nume" class="form-control" />
                <span asp-validation-for="Statiune.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statiune.Judet" class="control-label">@localizer.Get("County")</label>
                <input asp-for="Statiune.Judet" class="form-control" />
                <span asp-validation-for="Statiune.Judet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@localizer.Get("Save") class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">@localizer.Get("Back to List")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
