@page
@model InfoPartiiSchi.Pages.Statiuni.IndexModel
@inject CommonLocalizationService localizer
@{
    ViewData["Title"] = localizer.Get("Ski resorts");
}

<h1>@localizer.Get("Ski resorts")</h1>

<p>
    @if (this.User.IsInRole("Admin"))
    {
    <a asp-page="Create">@localizer.Get("Create New")</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @localizer.Get("Name")
            </th>
            <th>
                @localizer.Get("County")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Statiune)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Judet)
                </td>
                <td>
                    @if (this.User.IsInRole("Admin"))
                    {
                    <a asp-page="./Edit" asp-route-id="@item.ID">@localizer.Get("Edit")</a>
                    }|
                    @if (this.User.IsInRole("Admin"))
                    {
                <a asp-page="./Delete" asp-route-id="@item.ID">@localizer.Get("Delete")</a>
                    }|
                <a asp-page="./Details" asp-route-id="@item.ID">@localizer.Get("Details")</a>
                </td>
            </tr>
        }
    </tbody>
</table>
