@page
@model InfoPartiiSchi.Pages.Statiuni.IndexModel

@{
    ViewData["Title"] = "Statiuni";
}

<h1>Index</h1>

<p>
    @if (this.User.IsInRole("Admin"))
    {
        <a asp-page="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Statiune[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statiune[0].Judet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Statiune) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Judet)
            </td>
            <td>
                @if (this.User.IsInRole("Admin"))
                {
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                }|
                @if (this.User.IsInRole("Admin"))
                {
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                }|
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
