@page
@model InfoPartiiSchi.Pages.Partii.DetailsModel
@inject CommonLocalizationService localizer
@{
    ViewData["Title"] = localizer.Get("Details");
}

<h1>@localizer.Get("Details")</h1>

<div>
    <h4>@localizer.Get("Ski track")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @localizer.Get("Name")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partie.Nume)
        </dd>
        <dt class="col-sm-2">
            @localizer.Get("Track Length")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partie.Lungime)
        </dd>
        <dt class="col-sm-2">
            @localizer.Get("Maximum Altitude")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partie.AltitudineMaxima)
        </dd>
        <dt class="col-sm-2">
            @localizer.Get("Minimum Altitude")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partie.AltitudineMinima)
        </dd>
        <dt class="col-sm-2">
            @localizer.Get("Dificulty")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partie.Dificultate)
        </dd>
        <dt class="col-sm-2">
            @localizer.Get("LiveFeed")
        </dt>
        <dd class="col-sm-10">
            <iframe width="560"
                    height="315"
                    src="@Html.DisplayFor(model => model.Partie.Video)"
                    frameborder="0"
                    allowfullscreen>
            </iframe>
        </dd>
        <dt class="col-sm-2">
            @localizer.Get("Ski resort")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Partie.Statiune.Nume)
        </dd>
    </dl>
</div>
<div>
    @if (this.User.IsInRole("Admin"))
    {
    <a asp-page="./Edit" asp-route-id="@Model.Partie.ID">@localizer.Get("Edit")</a>
    }|
<a asp-page="./Index">@localizer.Get("Back to List")</a>
</div>
