@page
@model InfoPartiiSchi.Pages.Partii.IndexModel
@inject CommonLocalizationService localizer
@{
    ViewData["Title"] = localizer.Get("Ski tracks");
}

<h1>@localizer.Get("Ski tracks")</h1>

<p>
    @if (this.User.IsInRole("Admin"))
    {
        <a asp-page="Create">@localizer.Get("Create New")</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @localizer.Get("Name")
            </th>
            <th>
                @localizer.Get("Track Length")
            </th>
            <th>
                @localizer.Get("Ski resort")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Partie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lungime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Statiune.Nume)
                </td>
                <td>
                    @if (this.User.IsInRole("Admin"))
                     {
                        <a asp-page="./Edit" asp-route-id="@item.ID">@localizer.Get("Edit")</a>
                     }|
                    @if (this.User.IsInRole("Admin"))
                     {
                        <a asp-page="./Delete" asp-route-id="@item.ID">@localizer.Get("Delete")</a>
                     }|
                    <a asp-page="./Details" asp-route-id="@item.ID">@localizer.Get("Details")</a>
                </td>
            </tr>
        }
    </tbody>
</table>
